note.txt
public/images/work-6.psd
public/images/author-1.psd
public/images/author-2.psd
public/images/image_1.psd
public/images/person_1.psd
public/images/work-1.psd
public/images/work-2.psd
__MACOSX/
node_modules/
views/templates/
public/acme-challenge/
keys/
.ssh/
*.psd